body {
    font-family: Arial;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    background: #445161;
    box-sizing: border-box;
    padding: 50px;
    color: white;
}

.product-wrp {
    margin: 0;
}

.product-heading {
    font-size: 60px;
    line-height: 69px;
    margin: 0 0 30px 0;
}

.product-list {
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    padding: 0;
}

.product-item {
    padding: 0 0 0 30px;
    list-style-type: none;
    position: relative;
    margin: 0 0 10px 0;
}

.product-item::before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/tick.png);
    position: absolute;
    top: 1px;
    left: 0px;
    background-size: cover;
}

.img {
max-width: 472px;
max-height: 217px;
background-color: white;
margin: 0;
}

.about-product {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
}

.about-product-wrp {
    padding: 0;
    margin: 0 96px 0 0;
}

.heading {
    color: #445161;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
}

.about-product-heading {
    margin: 0 0 17px 0;
}

.text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin: 0;
}

.product-text {
    margin: 11px 0 0 0;
}

.gray-img {
    background: #445161;
    max-width: 430px;
    max-height: 245px;
    margin: 0;
}

.diginity {
    background: #F5F5F5;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.diginity-heading {
    text-align: center;
    margin: 0 0 22px 0;
    padding: 0;
    width: 100%;
}

.diginity-details-wrp {
    margin: 0;
    width: 50%;
}

.diginity-details {
width: 100%;
}

.diginity-summary::-webkit-details-marker {
    display: none;
}

.diginity-summary::after {
    background: #445161;
    content: "+";
    color: white;
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 33px;
    box-sizing: border-box;
    margin: 3px 8px 0 0;
}

.diginity-margin {
    margin: 33px 0 0 0;
}

.screenshots {
    padding: 25px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.screenshots-heading {
    text-align: center;
    padding: 0;
    margin: 0 0 45px 0;
    width: 100%;
}

.screenshots-figure {
    display: flex;
    justify-content: space-between;
    margin: 0 0 27px 0;
    width: 50%;
}

.screenshot {
    background: #445161;
    width: 200px;
    height: 150px;
    margin: 0 15px 0 0;
}

.figcap-heading {
    margin: 0 0 13px 0;
    font-size: 24px;
    line-height: 30px;
}